.hero {
    width: 100vw;
    height: 500px;
    background-image: url(./hero.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.hero nav {  
    text-align: center;
    margin-top: 80px;
}

nav a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    margin-right: 20px;
    padding: 3px;
    font-size: 20px;
    letter-spacing: 3px;
}
body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

main {
    margin: auto;
}

.favourite {
    margin: auto;
    width: 80%;
    
    
  }
.favourite h1, 
.favourite h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
}
.favourite img {
    width: 24.5%;
    height: 300px;
    filter: grayscale(100%);
}

.favourite img:hover {
    
    filter: grayscale(0);
}
   
footer {
    text-align: center;
    margin-top: 100px;
    color: white;   
    font-size: 8px;
    letter-spacing: 4px;
}
